@charset "utf-8";

@font-face{font-family:'NanumGothic'; src:url('fonts/NanumGothic.eot'); src:url('fonts/NanumGothic.eot?#iefix') format(‘embedded-opentype’), url('fonts/NanumGothic.woff') format(‘woff’), url('fonts/NanumGothic.ttf') format('truetype'), url('fonts/NanumGothic.svg') format('svg');}

*{margin:0; padding:0;}
body {font-family:'NanumGothic';}
ul,ol,li {list-style:none;}
img {border:none;}
a {text-decoration:none; color:#000;}
select::-ms-expand {display:none;}
strong,b {font-weight:600;}
button {background: inherit; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer;}

.ml10 {margin-left:10px;}
.mt10 {margin-top:10px;}
.pt10 {padding-top:10px;}
.bg_blue {background:#18417f;}
.bg_orange {background:#ec8735;}
.bg_green {background:#0090a5;}
.bg_gray {background:#4a5a71;}

